<li class="nav-dropdown-container">
  <a class="nav-link">社区</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/react-design/react-ui" class="nav-link" target="_blank">GitHub</a></li>
  </ul>
</li>
